* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #d5612b;
    color: #333;
    line-height: 1;
    margin: 0;
    padding: 20px;
}

/* Style the header */
header {
    font-family: Arial, sans-serif;
    background-color:#faad89;
    color: #333;
    text-align: left;
    padding: 15px;
    border-radius: 15px;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
}

/* Style sections */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
    text-align:center ;
}

table {
    width :100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td {
    padding:10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}
form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
}

form input[type="submit"] {
    background-color: #333;
    color:#fff;
    padding:10px 20px;
    border:none;
    cursor:pointer;
}

form input[type="submit"]:hover {
    background-color:#444;
    border-radius: 50px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 15px;
}